{% extends "app1/core.html" %}
{% load static %}
{% block signup %}
                    <a href="{% url 'home' %}"> 
                        <div class="nav-logout">logout</div>
                    </a>
{% endblock signup %}

{% block nav-upload %}
    <button type="button" class="custom-upload-btn" onclick="document.getElementById('fileInput').click()">
      UPLOAD
    </button>
    <input type="file" id="file-upload" class="file-input" accept=".pdf,.txt">
{% endblock nav-upload %}

{% block home %}
<a href="{% url 'main' %}">
    <div  class="nav-hone-btn" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="HOME">
        HOME 
    </div>
</a>
{% endblock home%}


{% block button-upload %}
    <!-- First Upload Button -->
    {% comment %} <div class="div-wrapper">
        <label for="file-upload-1" class="main-upload-btn">
            UPLOAD DOCUMENT
        </label>
        <input type="file" id="file-upload-1" class="file-input" accept=".pdf,.doc,.docx,.txt">
        
    </div> {% endcomment %}
    <form method="POST" action="{% url 'upload_file' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="upload-container">
          
          <!-- File Upload Input -->
          <input type="file" id="fileInput" name="uploaded_file" style="display: none; "accept=".pdf, .txt"/>
          
          <!-- Custom Upload Button -->
          <button type="button" class="main-upload-btn" onclick="document.getElementById('fileInput').click()">
             UPLOAD DOCUMENT
          </button>
      
          <!-- Analyze Button (Initially hidden) -->
          <button type="submit" id="analyzeBtn" class="btn-analyze" style="display: none;">
            <span>Analyze</span>
          </button>
      
        </div>
      </form>
{% endblock button-upload %}




    <!-- Second Upload Button (Same Design) -->
    {% comment %} <div class="div-wrapper second-upload">
        <label for="file-upload-2" class="upload-btn">
            UPLOAD FILE
        </label>
        <input type="file" id="file-upload-2" class="file-input" accept=".pdf,.doc,.docx,.txt">
    </div> {% endcomment %}


{% block button-script %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
      const fileInput = document.getElementById("fileInput");
      const analyzeBtn = document.getElementById("analyzeBtn");
  
      if (fileInput && analyzeBtn) {
        fileInput.addEventListener("change", function () {
          if (fileInput.files.length > 0) {
            analyzeBtn.style.display = "inline-block";
          } else {
            analyzeBtn.style.display = "none";
          }
        });
      } else {
        console.error("fileInput or analyzeBtn not found in the DOM.");
      }
    });
  </script>
  
  
{% endblock button-script %}

